<div class="bg-dark text-secondary px-4 py-5 text-center" style="height: 100%;">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Vamos às recomendações!</h1>
        <p class="fs-5 mb-4">Abaixo estão algumas recomendações baseadas nas informações passadas</p>
    </div>
    <section>
        <div class="container text-center dark p-3">
            <div class="card bg-dark">
                <div class="card-body text-start">
                    <h4 class="card-title" style="margin-bottom: 20px;">{{recomendacao.um.titulo}}</h4>
                    <p class="card-text">{{recomendacao.um.descricao}}</p>
                </div>
            </div>
        </div>        
        <div class="container text-center dark p-3">
            <div class="card bg-dark">
                <div class="card-body text-start">
                    <h4 class="card-title" style="margin-bottom: 20px;">{{recomendacao.dois.titulo}}</h4>
                    <p class="card-text">{{recomendacao.dois.descricao}}</p>
                </div>
            </div>
        </div>        
        <div class="container text-center dark p-3">
            <div class="card bg-dark">
                <div class="card-body text-start">
                    <h4 class="card-title" style="margin-bottom: 20px;">{{recomendacao.tres.titulo}}</h4>
                    <p class="card-text">{{recomendacao.tres.descricao}}</p>
                </div>
            </div>
        </div>        
        <div class="container text-center dark p-3">
            <div class="card bg-dark">
                <div class="card-body text-start">
                    <h4 class="card-title" style="margin-bottom: 20px;">{{recomendacao.quatro.titulo}}</h4>
                    <p class="card-text">{{recomendacao.quatro.descricao}}</p>
                </div>
            </div>
        </div>        
        <div class="container text-center dark p-3">
            <div class="card bg-dark">
                <div class="card-body text-start">
                    <h4 class="card-title" style="margin-bottom: 20px;">{{recomendacao.cinco.titulo}}</h4>
                    <p class="card-text">{{recomendacao.cinco.descricao}}</p>
                </div>
            </div>
        </div>        
    </section>
</div>